# Firebase Configuration
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_auth_domain_here
VITE_FIREBASE_DATABASE_URL=your_database_url_here
VITE_FIREBASE_PROJECT_ID=your_project_id_here
VITE_FIREBASE_STORAGE_BUCKET=your_storage_bucket_here
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id_here
VITE_FIREBASE_APP_ID=your_app_id_here

# RailRadar API
VITE_RAIL_RADAR_API_KEY=your_railradar_api_key_here

# InfluxDB Configuration
VITE_INFLUX_URL=your_influx_url_here
VITE_INFLUX_ORG=your_influx_org_here
VITE_INFLUX_TOKEN=your_influx_token_here
VITE_INFLUX_BUCKET=your_influx_bucket_here

# Railway Card Configuration
VITE_CARD_BASE_URL=http://192.168.4.1
